<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

</head>
<body>
	<header th:replace="fragments/header :: header">
		<p>This is default header area for default layout</p>
	</header>
	<section id="content" layout:fragment="content">
		<p th:text="${'Hello ' + name + '!'}"></p>
		<p>This is default main content with default layout</p>
	</section>
	<footer th:replace="fragments/footer :: footer">
		<p>This is default footer area for default layout</p>
	</footer>

	<script
		src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</body>
</html>